* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.web-name {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin: 10px;
    color: #D8125C;
}

/*.web-description {
    margin: 25px 355px;
    color: #c4afb7;
    font-size: 18px;
    font-weight: 200;
}
*/
.web-description {
    display: flex;
    color: #E6DDDE;

    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;

    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    max-width: 800px; 
    margin: 0 auto; /* Centers the container */
    padding: 20px 40px; /* Adds padding on top/bottom and sides */
}

.web-description div {
    margin-bottom: 15px;
    text-align: justify; 
    line-height: 1.6; 
   /* transition: background-color 5s, color 5s;*/
}
/*
.web-description:hover {
    background-color: #E6DDDE;
    color: black;
    cursor: pointer;
}
*/

.play-headline {
    color: #D8125C;
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
}

.all-rushes {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    column-gap: 30px;
    row-gap: 30px;
    padding: 10px;
}
.all-rushes .rush {
    width: 300px;
    height: 500px;
    box-shadow: rgba(247, 250, 255, 0.1) 0px 10px 10px -10px;
}

.rush-img {
    width: 300px;
    height: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    
}
.rush-img:hover {
    transform: translateY(-10px); /* Moves image slightly upward */
}
.rush-name {
    text-align: center;
    font-size: 25px;
    color: antiquewhite;
}

.rush .rush-short-details {
   
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: 5em; /* Limit to roughly 5 lines (5 * line-height) */
    color: #D8125C;
    font-size: 18px;
    padding: 10px 5px;
    margin-top: 5px;
}
.rush:hover {
    cursor: pointer;
}

.play-btn {
    margin: 25px 50px;
    font-size: 17px;
    background: transparent;
    border: none;
    height: 50px;
    width: 200px;
    color: #ffedd3; 
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: rgba(201, 201, 201, 0.24) 0px 3px 8px;
  }

  .play-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffffff;
    transition: 0.5s ease;
  }
  
  .play-btn:hover {
    color: #000000;
    transition-delay: 0.5s;
  }
  
  .play-btn:hover::before {
    width: 100%; 
  }
  
  .play-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffffff;
    transition: 0.4s ease;
    z-index: -1;
    color: black;
  }
  
  .play-btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
  }
  