* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.web-name {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin: 10px;
    color: #D8125C;
}

/*.web-description {
    margin: 25px 355px;
    color: #c4afb7;
    font-size: 18px;
    font-weight: 200;
}
*/
.web-description {
    display: flex;
    color: #E6DDDE;

    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;

    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    max-width: 800px; 
    margin: 0 auto; /* Centers the container */
    padding: 20px 40px; /* Adds padding on top/bottom and sides */
}

.web-description div {
    margin-bottom: 15px;
    text-align: justify; 
    line-height: 1.6; 
   /* transition: background-color 5s, color 5s;*/
}
/*
.web-description:hover {
    background-color: #E6DDDE;
    color: black;
    cursor: pointer;
}
*/

.play-headline {
    color: #D8125C;
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
}

.all-rushes {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    column-gap: 30px;
    row-gap: 30px;
    padding: 10px;
}
.all-rushes .rush {
    width: 300px;
    height: 500px;
    box-shadow: rgba(247, 250, 255, 0.1) 0px 10px 10px -10px;
}

.rush-img {
    width: 300px;
    height: 250px;
    
}
.rush-name {
    text-align: center;
    font-size: 25px;
    color: antiquewhite;
}

.rush .rush-short-details {
   
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: 5em; /* Limit to roughly 5 lines (5 * line-height) */
    color: #D8125C;
    font-size: 18px;
    padding: 10px 5px;
    margin-top: 5px;
}


.play-btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    margin: 35px 25px 10px 25px;
    background-color: rgb(0, 0, 0);
    color: #FFF;
}

.play-btn {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  }

.play-btn a {
    color: white;
    font-size: 17px;
    text-decoration: none;
}
  .play-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
  }
  .play-btn:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .play-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .play-btn:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }